@model MyChat.DataModels.tbl_users

@section Scripts{
    <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
    <script type="text/javascript" src="~/signalr/hubs"></script>
    <script src="~/Scripts/ChatApp.js"></script>
    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@


}







@{
    ViewBag.Title = "Home";
}
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<style>
    .dot {
        height: 10px;
        width: 10px;
        background-color: green;
        border-radius: 50%;
        display: inline-block;
    }

    .member {
        height: 40px !important;
        border-style: groove;
        border-width: 1px;
        text-align: center;
        border-color: rgba(77, 76, 76, 0.2);
        box-shadow: black;
        margin: 0 8px 3px 15px;
        cursor: pointer;
    }

        .member h6 {
            padding: 7px 0 0 0 !important;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1; /* number of lines to show */
            -webkit-box-orient: vertical;
            opacity: .9;
        }

    .fixed-top {
        background-color: white;
        padding: 30px 5px 0 5px;
    }

    .container, .body-content {
        margin: 0;
        padding: 0;
    }

    .fixed-top {
        position: static;
    }

    body {
        overflow-y: hidden;
    }

    .text-body {
        bottom: 0;
        right: 0;
        position: absolute;
        width: 80%;
    }



    .container {
        /*max-width: 1170px;*/
        margin: auto;
    }

    img {
        max-width: 100%;
    }

    .inbox_people {
        background: #f8f8f8 none repeat scroll 0 0;
        float: left;
        overflow: hidden;
        width: 40%;
        border-right: 1px solid #c4c4c4;
    }

    .inbox_msg {
        border: 1px solid #c4c4c4;
        clear: both;
        overflow: hidden;
    }

    .top_spac {
        margin: 20px 0 0;
    }

    body {
        padding-top: 10px;
    }

    .recent_heading {
        float: left;
        width: 40%;
    }

    .srch_bar {
        display: inline-block;
        text-align: right;
        width: 60%;
        padding: 10px;
    }

    .headind_srch {
        padding: 10px 29px 10px 20px;
        overflow: hidden;
        border-bottom: 1px solid #c4c4c4;
    }

    .recent_heading h4 {
        color: #05728f;
        font-size: 21px;
        margin: auto;
    }

    .srch_bar input {
        border: 1px solid #cdcdcd;
        border-width: 0 0 1px 0;
        width: 80%;
        padding: 2px 0 4px 6px;
        background: none;
    }

    .srch_bar .input-group-addon button {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        padding: 0;
        color: #707070;
        font-size: 18px;
    }

    .srch_bar .input-group-addon {
        margin: 0 0 0 -27px;
    }

    .chat_ib h5 {
        font-size: 15px;
        color: #464646;
        margin: 0 0 8px 0;
    }

        .chat_ib h5 span {
            font-size: 13px;
            float: right;
        }

    .chat_ib p {
        font-size: 14px;
        color: #989898;
        margin: auto
    }

    .chat_img {
        float: left;
        width: 11%;
    }

    .chat_ib {
        float: left;
        padding: 0 0 0 15px;
        width: 88%;
    }

    .chat_people {
        overflow: hidden;
        clear: both;
    }

    .chat_list {
        border-bottom: 1px solid #c4c4c4;
        margin: 0;
        padding: 18px 16px 10px;
        cursor:pointer;
    }

    .inbox_chat {
        height: 550px;
        overflow-y: scroll;
    }

    .active_chat {
        background: #ebebeb;
    }

    .incoming_msg_img {
        display: inline-block;
        width: 6%;
    }

    .received_msg {
        display: inline-block;
        padding: 0 0 0 10px;
        vertical-align: top;
        width: 92%;
    }

    .received_withd_msg p {
        background: #ebebeb none repeat scroll 0 0;
        border-radius: 3px;
        color: #646464;
        font-size: 14px;
        margin: 0;
        padding: 5px 10px 5px 12px;
        width: 100%;
    }

    .time_date {
        color: #747474;
        display: block;
        font-size: 12px;
        margin: 8px 0 0;
    }

    .received_withd_msg {
        width: 57%;
    }

    .mesgs {
        float: left;
        padding: 30px 15px 0 25px;
        width: 60%;
    }

    .sent_msg p {
        background: #05728f none repeat scroll 0 0;
        border-radius: 3px;
        font-size: 14px;
        margin: 0;
        color: #fff;
        padding: 5px 10px 5px 12px;
        width: 100%;
    }

    .outgoing_msg {
        overflow: hidden;
        margin: 26px 0 26px;
    }

    .sent_msg {
        float: right;
        width: 45%;
    }

    .input_msg_write input {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        color: #4c4c4c;
        font-size: 15px;
        min-height: 48px;
        width: 100%;
    }

    .type_msg {
        border-top: 1px solid #c4c4c4;
        position: relative;
    }

    .msg_send_btn {
        background: #05728f none repeat scroll 0 0;
        border: medium none;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        font-size: 17px;
        height: 33px;
        position: absolute;
        right: 0;
        top: 11px;
        width: 33px;
    }

    .delete-btn-left {
        opacity: .5;
        float: left;
        padding-right: 10px;
        cursor: pointer;
    }

    .delete-btn-right {
        opacity: .5;
        float: right;
        padding-right: 10px;
        cursor: pointer;
    }

    .messaging {
        padding: 0 0 100px 0;
    }

    .msg_history {
        height: 516px;
        overflow-y: auto;
    }
</style>

@Html.Hidden("Receiver_Name")
@Html.Hidden("activeUser")
@Html.Hidden("userCode")


<div class="container">
    <h3 class=" text-center">Messaging</h3>
    <span style="text-align:right;display:block;" class="btn"> <a href="~/User/SignOut"> Sign Out</a> </span>
    <div class="messaging" ng-app="MyApp">

        <div class="inbox_msg" id="chatCtrl" ng-controller="chatCtrl">

            <div class="inbox_people">

                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Recent</h4>
                    </div>
                    <div class="srch_bar">
                        <div class="stylish-input-group">
                            <input type="text" class="search-bar" placeholder="Search">
                            <span class="input-group-addon">
                                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                            </span>
                        </div>
                    </div>
                </div>


                <div class="inbox_chat">
                    <div ng-repeat="user in myUsres">
                        <div ng-If="user.userCode==activeUser && user.userCode!='@Session["UserCode"].ToString()' " class="chat_list active_chat" ng-click="setUserToChat(user)">
                            <div class="chat_people">
                                <div class="chat_ib">
                                    <h5>{{user.firstName +" "+ user.lastName}} <span class="chat_date pending btn-success" style="border-radius:50%; width:20px; height:20px; text-align:center;">5</span></h5>
                                    <p>
                                        Click to start meessaging
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div ng-If="user.userCode!=activeUser  && user.userCode!='@Session["UserCode"].ToString()' " class="chat_list"  ng-click="setUserToChat(user)">
                            <div class="chat_people">
                                <div class="chat_ib">
                                    <h5>{{user.firstName +" "+ user.lastName}} <span class="chat_date pending btn-success" style="border-radius:50%; width:20px; height:20px; text-align:center;">5</span></h5>
                                    <p>
                                        Click to start meessaging
                                    </p>
                                </div>
                            </div>
                        </div>


                    </div>


                </div>



            </div>








            <div class="mesgs">


                <div class="msg_history"id="scrollArea">
                    <div ng-repeat="message in messages">

                        <div ng-If="message.sender=='@Session["UserCode"].ToString()' && message.isDeleteSender!= 'Y' " class="outgoing_msg">

                            <div class="sent_msg">
                                <label class="delete-btn-right"> <i class="fa fa-minus-circle" style="font-size:28px;color:red;" ng-click="deleteSender(message)"></i>  </label>

                                <p>
                                    {{ message.chatText}}
                                </p>
                                <span class="time_date"> {{ whichDate(message.createdAt) | date:'shortTime' }}    |     {{ whichDate(message.createdAt) |  date }}</span>
                            </div>
                        </div>


                        <div ng-If="message.receiver=='@Session["UserCode"].ToString()' && message.isDeleteReceiver!= 'Y'" class="incoming_msg">



                            <label style="opacity:.3;font-size:9px;display:block"> {{message.senderName}}</label>
                            <div class="received_msg">

                                <label class="delete-btn-left">   <i class="fa fa-minus-circle" style="font-size:28px;color:red;" ng-click="deleteReceiver(message)"></i>  </label>
                                <div class="received_withd_msg">

                                    <p> {{ message.chatText }}</p>

                                    <span class="time_date"> {{ whichDate(message.createdAt) | date:'shortTime' }}    |     {{ whichDate(message.createdAt) |  date }}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <a id="bottom"></a>

                </div>



                <div class="type_msg" ng-If="activeUser!=''">
                    <div class="input_msg_write"> 
                        <input id="chatText" type="text" class="write_msg" placeholder="Type a message" ng-keyup="keyPress($event.keyCode)" />  
                        <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true" ng-click="sentMessage()"></i></button>
                    </div>
                </div>



            </div>

            @*message               ---------------------------------------------------                end*@


        </div>



    </div>
</div>
